<style>
    .container {
       margin-top: 250px;
       padding: 10px;
       border-radius: 8px;
       max-width: 800px;
       width: 100%; /* Memastikan form responsif */
       background-color: #ffffff00; /* Menambahkan warna latar belakang pada container */
       text-align: center; /* Menjaga agar teks tetap terpusat di dalam container */
   }
   h1{
      font-weight: bold;
   }
</style>

<div class="container">
   
   <h1>Selamat Datang di Dashboard Kami!</h1>
   <p>Anda telah berhasil masuk. Jelajahi aplikasi kami untuk mengelola data jenis binatang dan temukan informasi menarik lainnya.</p>
   <a href="/contact" class="btn btn-primary">Hubungi Kami</a>

</div>